[Unit]
Description=TaleCaster NNTP Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a nntp
ExecStop=/usr/bin/docker stop -t 2 nntp

[Install]
WantedBy=talecaster.target
