[Unit]
Description=TaleCaster Television Container
Requires=docker.service
After=docker.service talecaster_indexer.service talecaster_nntp.service talecaster_torrent.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a television
ExecStop=/usr/bin/docker stop -t 2 television

[Install]
WantedBy=talecaster.target
