[Unit]
Description=TaleCaster Books Container
Requires=docker.service
After=docker.service talecaster_indexer.service talecaster_nntp.service talecaster_torrent.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a books
ExecStop=/usr/bin/docker stop -t 2 books

[Install]
WantedBy=talecaster.target
