[Unit]
Description=TaleCaster Movies Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a movies
ExecStop=/usr/bin/docker stop -t 2 movies

[Install]
WantedBy=talecaster.target
