[submodule "docker/tc_docker"]
	path = docker/tc_docker
	url = https://github.com/rootwyrm/tc_docker.git
	branch = master
[submodule "docker/tc_transmission"]
	path = docker/tc_transmission
	url = https://github.com/rootwyrm/tc_transmission.git
	branch = master
[submodule "docker/tc_sickrage"]
	path = docker/tc_sickrage
	url = https://github.com/rootwyrm/tc_sickrage
	branch = master
[submodule "docker/tc_headphones"]
	path = docker/tc_headphones
	url = https://github.com/rootwyrm/tc_headphones
	branch = master
[submodule "docker/tc_couchpotato"]
	path = docker/tc_couchpotato
	url = https://github.com/rootwyrm/tc_couchpotato
	branch = master
[submodule "tc_docker"]
	path = docker/tc_docker
	url = https://github.com/rootwyrm/tc_docker.git
	branch = master
