## Application CSS
## I really hate CSS. -rootwyrm
a { color: cyan }
a:link { color: cyan }
a:visited { color: lightblue }
a:hover { color: hotpink }

.body {
	width: 100vw;
	height: 100vw;
	margin: 0;
	padding: 0;
	background-color: #101010;
}

.title {
	color: white;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.outlinks {
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 700;
	a:link { color: green };
	a:visited { color: lightgreen };
}

.license {
	color: white;
	font-family: sans-serif;
	font-size: 14px;
}

.disclaimer {
	color: white;
	font-family: sans-serif;
}

.warranty {
	color: white;
	font-family: monospace;
}
