body, html {
	padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
	overflow: hidden;
}

.tc-navigation iframe,
.tc-navigation object, 
.tc-navigation embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	display: flex;
}

.tc-application iframe,
.tc-application object,
.tc-application embed {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vw;
	display: flex;
}
